doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Masonry Layout JavaScript
    link(rel="stylesheet" href="style.css")
  body
    h1 Masonry Layout JavaScript
    p Implemented using vanilla JavaScript without using jQuery

    .reload-button__wrap
      button.reload-button
        |ランダムリロード

    .wrap
      .masonry
        - for (var i = 0; i < 20; i++)
          .masonry-item.c-card
            - const random_height = Math.floor(Math.random() * (600 - 200 + 1)) + 200;
            .c-card__img
              img(src=`https://picsum.photos/400/${random_height}?random=${i}`, alt="")
            .c-card__title
              |title!{i+1}


    script(src="main.js")