doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Masonry Layout JavaScript
    link(rel="stylesheet" href="style.css")
  body


    script(src="main.js")